@charset "utf-8";

.header_wrap {
    width: 100%;

}

.header_inner_web {
    display: flex;
    position: fixed;
    width: 100%;
    height: 54px;
    background: #fff;
    box-shadow: 0 1px 2px 1.3px rgba(0, 0, 0, 0.1);
    justify-content: center;
    z-index: 1;
}

/* 로고 */
.logo a {
    float: left;
    padding: 6%;
    margin: 0 4px 0 8px;
    flex-basis: 80px;
}

.logo a i {
    display: block;
    background: url(../img/logo.png) no-repeat center/cover;
    width: 46px;
    height: 46px;
}

/* 검색바 */
.search_cover,
.search_inner {
    width: 100%;
    border-radius: 25px;
    background: #F7F7F7;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    color: var(--black-color)
}

.search_cover {
    display: flex;
    margin: 6px 18px;
}

.search_cover .search_inner {
    padding: 0 6px 0 14px;
}

.search_cover button {
    float: left;
    background: url(../img/src.png) no-repeat center / cover;
    padding: 16px;
    margin-right: 7px;
    cursor: pointer;
}

/* 코믹_일러 선택 버튼 */

.comic_btn,
.ill_btn {
    width: 120px;
    height: 42px;
    border-radius: 25px;
    margin: 3px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
}

.btn_wrap {
    display: flex;
    align-items: center;
}

.btn_wrap::after {
    content: '';
    width: 4px;
    height: 38px;
    border-radius: 45px;
    background: var(--gray-color);
    margin-right: 20px;
}

.comic_btn {
    background: var(--orange-color);
}

.ill_btn {
    background: var(--black-color);
    margin-right: 18px;
}

/* 팔로우 버튼_프로필 */
.pf_btn_wrap {
    display: flex;
    align-items: center;
    margin-right: 12px;
}

.pf_btn_wrap .fw_btn {
    position: relative;
    width: 120px;
    height: 42px;
    border-radius: 25px;
    margin-right: 16px;
    cursor: pointer;
}

.pf_btn_wrap .fw_btn:hover {
    background: var(--hover-color);
}

.pf_btn_wrap .fw_btn i {
    position: absolute;
    top: 10px;
    left: 18px;
    background: url(../img/flw2.png) no-repeat center;
    padding: 12px;
}

.pf_btn_wrap .fw_btn span {
    padding-left: 24px;
    font-size: 16px;
    color: var(--text-color);
    font-weight: 700;
    line-height: 43px;
}

.pf_btn_wrap .pf_btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.pf_btn_wrap .pf_btn a i {
    float: left;
    background: url(../img/profile.png) no-repeat center /cover;
    width: 100%;
    height: 100%;

}

.pf_btn_wrap::after {
    content: '';
    width: 4px;
    height: 38px;
    border-radius: 45px;
    background: var(--gray-color);
    margin-right: 12px;

}

/* 옵션 버튼 */
.option_btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 18px;
}

.opt {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 8px;
}

.dm_btn i,
.alarm_btn i,
.set_btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.option_btn_wrap .opt.dm_btn i {
    background: url(../img/dm-ic.png) no-repeat center/cover;
    width: 26px;
    height: 23px;
}

.option_btn_wrap .opt.alarm_btn i {
    background: url(../img/test.png) no-repeat center/cover;
    width: 23px;
    height: 26px;
}

.option_btn_wrap .opt.set_btn i {
    background: url(../img/set_ic.png) no-repeat center/cover;
    width: 23px;
    height: 23px;
}

/*         하단 gnb      */
.bottom_gnb {
    display: none;
}

.bottom_gnb .bottom_gnb_inner {
    display: flex;
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 260px;
    height: 48px;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 1px 2px 1.3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0 14px;
    z-index: 1;
}

.mobo {
    position: relative;
    width: 100%;

}

.mobile_alarm_btn i,
.mobile_dm_btn i,
.mobile_upload_btn i,
.mobile_comic_btn,
.mobile_illust_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile_alarm_btn i {
    background: url(../img/alarm.png) no-repeat center/cover;
    padding: 32%;
}

.mobile_dm_btn i {
    background: url(../img/msg.png) no-repeat center/cover;
    padding: 38%;
}

.mobile_upload_btn i {
    background: url(../img/wrt.png) no-repeat center/cover;
    padding: 35%;
}

.radio {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}

.radio.mobile_comic_btn {
    background: var(--orange-color);
    line-height: 33px;
}

.radio.mobile_illust_btn {
    background: var(--black-color);

}


/* 모달 팝업 영역 */
/*    흰배경 모달     */
.pf_modal {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal_box {}

.modal_box_inner {
    position: absolute;
    display: flex;
    top: 56px;
    right: 90px;
    width: 340px;
    flex-direction: column;
    background: var(--gray-color);
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 1;
}

/*     모달 내부 탭    */
/* 모달 상단 프로필 */
.md_pf_tab {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background: #fff;
    margin-bottom: 2px;
}

.md_pf_tab > a {
    display: flex;
    margin-left: 16px;

}

.md_pf_tab .user_pf_ic {
    background: url(../img/twitter-logo.png) no-repeat center / cover;
    width: 42px;
    height: 42px;
}

.md_pf_left {
    display: flex;
    flex-direction: column;
}

.md_pf_left h3,
.md_pf_left span {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: var(--black-color);
}

.md_pf_left a {
    margin-left: 8px;
}

.md_pf_left h3 {
    font-weight: 500;
}

.md_pf_left span {
    font-weight: 300;
}

.md_pf_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

.md_pf_right a {
    display: flex;
    padding: 15%;
    border-radius: 50%;
    margin-right: 15px;
}

.md_pf_right i {
    background: url(../img/X-mark.png) no-repeat center / cover;
    width: 24px;
    height: 24px;
}

/* 모달 옵션 선택 탭 */
/* 공통 부분 */
.tab_set {
    width: 100%;
    height: 50px;
    margin-bottom: 3px;
    background: #fff;
}

.tab_set a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tab_set i {
    margin: 0 12px 0 20px;
}

.tab_set span {
    color: var(--text-color);
}

.md_pfset_tab i {
    background: url(../img/pf_list_set.png) no-repeat center / cover;
    width: 15px;
    height: 21px;
}

.md_bmk_tab i {
    background: url(../img/pf_list_bmk.png) no-repeat center / cover;
    width: 15px;
    height: 17px;
}

.md_policy_tab i {
    background: url(../img/pf_list_policy.png) no-repeat center / cover;
    width: 17px;
    height: 20px;
}

.md_switch_tab i {
    background: url(../img/pf_list_switch.png) no-repeat center / cover;
    width: 17px;
    height: 15px;
}

.md_logout_tab i {
    margin-left: 38px;
}


.tab_set a:hover {
    background: var(--gray-color);
}

.tab_set a:hover span {
    color: var(--black-color);
}

/*     검색창     */
/* 검색창 레이아웃 */
.src_box {
    position: fixed;
    top: 54px;
    left: 84px;
    width: calc(100% - 830px);
    min-width: 700px;
    height: 420px;
    background: var(--gray-color);
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    z-index: 1;
}

.src_inner_wrap {
    display: block;
    width: 100%;
    height: 370px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: scroll;
    overflow-x: hidden;
}

.src_inner_wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.src_box_inner {
    width: 100%;
    height: auto;
}

/* 검색창 헤더 */
.src_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    background: #fff;
    margin-bottom: 2px;
}

.src_header .src_hd_lf {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.src_header .src_hd_lf .src_result {
    display: block;
    font-size: 15px;
    color: var(--black-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.src_header .src_hd_lf .do_src_txt {
    white-space: nowrap;
    padding-right: 110px;
}

.src_hd_rt {
    display: flex;
    position: absolute;
    top: 1;
    right: 20px;
    height: auto;
    padding: 12px;
}

.src_hd_rt i {
    background: url(../img/X-mark.png) no-repeat center / cover;
    width: 24px;
    height: 24px;
}

/* 검색창 유저 검색목록 리스트 */
.user_src_inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 3px;
    padding: 0 20px;
}

.user_src_inner a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 14px 0;
}

.user_src_inner a:hover {
    background: var(--hover-color);
}

.user_src_inner i {
    min-width: 42px;
    background: url(../img/twitter-logo.png) no-repeat center / cover;
    width: 42px;
    height: 42px;
}

.user_src_inner .user_src_pf {
    display: block;
    margin-left: 12px;
    font-size: 15px;
    color: var(--black-color);
    margin-right: 120px;
}

.user_src_pf h3,
.user_src_pf span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.user_src_pf h3 {
    font-weight: 500;
}

.user_src_pf span {
    font-weight: 300;
}

/* 텍스트or태그 검색 목록 */
.txt_src_inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 3px;
}

.txt_src_inner a {
    display: block;
    width: 100%;
    padding: 14px 22px;
}

.txt_src_inner a:hover {
    background: var(--hover-color);
}

.txt_src_inner span {
    display: block;
    font-size: 15px;
    color: var(--black-color);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 100px;
}

/* gnb dm */
/* dm 레이아웃 */
.dm_box {
    position: absolute;
    top: 55px;
    right: 0px;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dm_all_wrap {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 640px;
    background: var(--gray-color);
}

/* dm 헤더 */
.dm_pf_hd {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 2px;
}

.dm_pf_hd {
    padding: 8px 0;
}

.dm_hd_ic_wrap a {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;

}

.dm_hd_ic_wrap i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/arrow-left.png) no-repeat center / cover;
    width: 10px;
    height: 18px;
    margin-right: 18px;
}

.dm_hd_txt_wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dm_hd_txt_wrap span {
    font-size: 15px;
    font-weight: 400;
    color: var(--black-color);
}

.dm_hd_txt_wrap .dm_user_nick {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
}

.dm_hd_txt_wrap .dm_fix_txt {
    white-space: nowrap;
    padding-right: 50px;
}

/* dm 본문 내용*/

.dm_screen_wrap {
    display: block;
    width: 100%;
    height: calc(100% - 50px);
    background: #fff;
    margin-bottom: 3px;
        -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: scroll;
    overflow-x: hidden;

}

.dm_screen_wrap::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.txt_bg {
    width: auto;
    height: auto;
    padding: 15px 14px;
}
.user_txt_box, .my_txt_box {
    display: flex;
    flex-direction: column;

}
.user_txt_time, .my_txt_time {
    font-size: 13px;
    font-weight: 300;
    color: var(--text-color);
    margin-left: 8px;
}
.my_txt_time{
    flex:none;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
}

.user_txt_bub, .my_txt_bub {
    max-width: 240px;
    min-width: 50px;
    height: auto;
    margin: 4px 0 10px 0;
    background: var(--hover-color);
    padding: 12px;
    border-radius: 12px;
}

.my_txt_bub {
    flex:none;
    background: var(--orange0-color);
    margin-left: auto;
}
.user_txt_bub span, .my_txt_bub span {
    font-size: 14px;
    font-weight: 300;
    color: var(--black-color)

}

/* dm 텍스트 입력*/
.dm_input_wrap {
    display: flex;
    align-items: center;
    height: 48px;
    background: #fff;
}

.dm_input_outter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background: var(--gray-color);
    border-radius: 25px;
    padding: 0 16px;
    margin: 0 10px;
}

.dm_txt_input {
    width: 100%;
    height: 25px;
    margin-right: 3px;
    border-radius: 10px;
}

.dm_txt_btn {
    background: url(../img/paper-plane-1.png) no-repeat center / cover;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

/*     태블릿&모바일 ~ 1080px    */
@media screen and (max-width: 1000px) {

    /*     모바일 로고     */
    .logo a {
        margin: 4px 2px 0 8px;
    }

    .logo a i {
        width: 42px;
        height: 42px;
    }


    /*     모바일 검색바     */
    .search_cover {
        margin: 6px 14px 6px 8px;
    }

    /*    모바일 코믹/일러 선택 버튼     */
    .btn_wrap {
        display: none;
    }

    .btn_wrap::after {
        display: none;
    }

    /*     모바일 팔로우_프로필 버튼     */
    .pf_btn_wrap {
        margin-right: 6px;
    }

    .pf_btn_wrap .fw_btn {
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    .pf_btn_wrap .fw_btn i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url(../img/flw2.png) no-repeat center/cover;
        padding: 32%;
    }

    .pf_btn_wrap .fw_btn span {
        display: none;
    }

    .pf_btn_wrap::after {
        display: none;
    }

    .option_btn_wrap {
        display: none;
    }

    .bottom_gnb {
        display: block;
    }


    /*  모바일 모달 프로필 팝업  */
    .pf_modal {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        background: #2222;
        z-index: 1;
    }


    .modal_box_inner {
        position: fixed;
        top: initial;
        bottom: 0;
        right: 0;
        width: 100%;
        box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, 0.1);
        border-radius: 8px 8px 0 0;
    }

    /*     모달 내부 탭    */
    /* 모달 상단 프로필 */
    .md_pf_left h3,
    .md_pf_left span {
        font-size: 14px;
    }

    /*     모바일 검색창     */
    /* 검색창 레이아웃 */
    .src_box {
        top: 55px;
        left: 0;
        width: 100%;
        min-width: 300px;
        height: 360px;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 20px 20px;
    }
/* dm 모바일용 메시지*/

.dm_all_wrap {
    width: 100vw;
    height: calc(100vh - 60px);
}

}
